#grid-container {
    top: 100px;
    display: grid;
    width: 500px;
    height: 500px;
    background-color: #2196F3;
    margin: auto;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
}

.hover {
    background-color: rgba(55, 202, 129, 0.8);
}

button {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 5px;
}
